{% block ac_recaptcha_widget %}
    {% spaceless %}
        <script src="{{form.vars.url_api}}" async defer></script>
        <div class="g-recaptcha" data-sitekey="{{form.vars.public_key}}"></div>
    {% endspaceless %}
{% endblock %}