{% block ac_recaptcha_widget %}
    {% spaceless %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
    {% endspaceless %}
{% endblock %}